
.krit {
    font-family: "Arial", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333; /* Цвет текста */
    text-align: center; /* Выравнивание по центру */
    text-transform: uppercase; /* Преобразование текста в верхний регистр */
    letter-spacing: 2px; /* Расстояние между буквами */
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 20px; /* Отступ снизу */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень текста */
}

.content-text-center {
    margin: 10px 150px;
    text-align: center;
    padding: 50px;
    
}


.custom-form-control {
    display: inline-block;
    width:auto;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 10px;
  }
  
  .custom-form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }



 /* .custom-radio-button {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-right: 10px;
    cursor: pointer;
  } */
  

  .form-label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }

.custom-h1 {
    font-size: 48px;
    font-weight: bold;
    color: #007bff; /* Голубой цвет */
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Тень для добавления эффекта */
  }




  .result-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .result-title {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .result-content {
    margin-top: 20px;
  }
  
  .calories-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .calories-count {
    font-size: 64px;
    font-weight: bold;
    color: #ff5555;
    margin-right: 10px;
  }
  
  .calories-unit {
    font-size: 24px;
    font-weight: bold;
    color: #666;
  }



  .about-section {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .about-text {
    font-size: 18px;
    color: #666;
  }





  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  .container-fluid {
    flex: 1;
  }
  
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  footer ul.nav {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  footer ul.nav li {
    margin-right: 10px; /* Отступ между ссылками */
  }
  
  footer .container {
    max-width: 100%; /* Фиксированная ширина контейнера */
  }
  